<template name="introLayout">
  <div class="ui inverted vertical masthead center aligned segment">
    <div class="ui fluid image">
      <img src="https://static.pexels.com/photos/425/apple-iphone-desk-office.jpg" class="landing-page" alt="cool hipster stuff">
    </div>
    {{> header}}
    <div class="ui inverted button scroll-force">
      Start
    </div>
  </div>
  <div class="ui vertical stripe segment">
    <div class="ui middle aligned center aligned grid">
      <div class="column">
          <div class="ui container">
            {{> atForm}}
          </div>
      </div>
    </div>
  </div>
</template>