header {
  font-family: 'Exo', sans-serif;
  font-weight: 800;
}

body {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #E1E1E1;
}

#login {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  height: 80%;
}

footer {
  height: 5%;
  border-top: 1px solid black;
}

h3 {
  text-align: center;
}

.footer.form-page {
  position: absolute !important;
  bottom: 0;
  width: 100%;
}

#new-task {
  float: right;
  padding: 5px;
}

#content {
  padding: 10px;
}

