<template name="dashboardLayout">
  <h2>Ello there, {{currentUser.username}}</h2>
  <button id="new-task">+</button>
  <button id="user-profile">View profile</button>
  <button id="log-out">Log Out</button>
  <div class="ui stackable very relaxed grid container">
    <div class="three column computer one column mobile demo row">

      <div class="column">
        <div class="container the-do">
          {{> todotasks}}
        </div>
      </div>
      <div class="column">
        <div class="container in-progress">
          {{> inprogresstasks}}
        </div>
      </div>
      <div class="column">
        <div class="container done">
          {{> donetasks}}
       </div>
      </div>
    </div>

  </div>
</template>

<template name="todotasks">
  <div class="ui cards">
  {{#each dash}}
    {{> task1}}
  {{/each}}
    </div>
</template>

<template name="inprogresstasks">
  <div class="ui cards">
  {{#each dash}}
    {{> task2}}
  {{/each}}
    </div>
</template>

<template name="donetasks">
  <div class="ui cards">
  {{#each dash}}
    {{> task3}}
  {{/each}}
    </div>
</template>

<template name="task1">
  <a class="red card">

    <div class="content">
      <div class="header">
        {{title}}
      </div>
      <div class="description">
        {{description}}
      </div>
    </div>

    <div class="ui bottom attached button nextStage">
      <i class="checkmark icon"></i>
      Next Stage
    </div>
  </a>
</template>

<template name="task2">
  <a class="yellow card">

    <div class="content">
      <div class="header">
        {{title}}
      </div>
      <div class="description">
        {{description}}
      </div>
    </div>

    <div class="ui bottom attached button nextStage">
      <i class="check square icon"></i>
      Next Stage
    </div>
  </a>
</template>

<template name="task3">
  <a class="green card">

    <div class="content">
      <div class="header">
        {{title}}
      </div>
      <div class="description">
        {{description}}
      </div>
    </div>

    <div class="ui bottom attached button nextStage">
      <i class="remove icon"></i>
      Delete
    </div>
  </a>
</template>
