<template name="dashboardLayout">
  <h2>Ello there, {{currentUser.username}}</h2>
  <button id="new-task">+</button>
  <button id="user-profile">View profile</button>
  <button id="log-out">Log Out</button>
  <button id="up">up</button>

  <div class="ui stackable very relaxed grid container">
    <div class="three column computer one column mobile demo row">

      <div class="column">
        <div class="container the-do">
          {{> todotasks}}
        </div>
      </div>
      <div class="column">
        <div class="container in-progress">
          {{> inprogresstasks}}
        </div>
      </div>
      <div class="column">
        <div class="container done">
          {{> donetasks}}
       </div>
      </div>
    </div>

  </div>
</template>

<template name="todotasks">
  <div id="theFunction">
  {{#each dash}}
  {{> task}}
    {{/each}}
    </div>
</template>

<template name="inprogresstasks">
  <div id="theFunction">
  {{#each dash}}
  {{> task}}
    {{/each}}
    </div>
</template>

<template name="donetasks">
  <div id="theFunction">
  {{#each dash}}
  {{> task}}
    {{/each}}
    </div>
</template>

<template name="task">
<div id="this-task">
{{title}} {{description}}
</div>
</template>

