<template name='applicationLayout'>
    <h2 class="ui center aligned icon header">
    <i class="tasks icon"></i>
      Productify
    </h2>
    {{> yield}}
    <div class="ui inverted vertical footer segment form-page">
      <div class="ui">
        <div class="ui stackable inverted divided equal height stackable grid">
          <div class="center aligned column">
          <button class="ui inverted blue icon button">
            <i class="github alternate icon"></i>
            <div class="header">GitHub</div>
          </button>
          </div>
        </div>
      </div>
    </div>
</template>

<template name="introLayout">
  <div class="ui middle aligned center aligned grid">
    <div class="column">
        <div class="ui container">
          {{> atForm }}
        </div>
    </div>
  </div>
</template>

