<template name='applicationLayout'>
  <h1>Welcome to KanBan!</h1>
  {{> yield}}
  <footer></footer>
</template>

<template name="introLayout">
  {{> loginButtons }}
</template>

<template name="dashboardLayout">
  <h2>Ello there, {{username}}</h2>
  <button id="new-task">+</button>
  <button id="user-profile">View profile</button>
  <button id="log-out">Log Out</button>
  <div id="to-do"></div>
  <div class="in-progress"></div>
  <div class="done"></div>
</template>

<template name="profileLayout">
  <h2>Edit Info</h2>
  <form class="edit">
    <input type="text" id="username" placeholder="username">
    <input type="text" id="password" placeholder="password">
    <button id="save-changes">Save</button>
    <button class="cancel">Back to Dashboard</button>
  </form>
</template>

<template name="newTaskLayout">
  <h2>Create New Task</h2>
  <form class="task">
    Title: <input type="text" id="title-input">
    Description: <input type="text" id="description-input">
  </form>
  <button id="save-task">Save</button>
  <button class="cancel">Back to Dashboard</button>
</template>