<template name='applicationLayout'>
  <h1>Welcome to KanBan!</h1>
  {{> yield}}
  <footer></footer>
</template>

<template name="introLayout">
  <form class="login">
    <input type="text" placeholder="username"/>
    <input type="text" placeholder="password"/>
    <button id="submit">Login</button>
  </form>
  <button id="sign-up">Sign up!</button>
</template>

<template name="dashboardLayout">
  <h2>Ello there, {{username}}</h2>
  <button id="new-task">+</button>
  <button id="user-profile">View profile</button>
  <div id="to-do"></div>
  <div class="in-progress"></div>
  <div class="done"></div>
</template>

<template name="profileLayout"></template>

<template name="newTaskLayout"></template>