<template name="modal">
  <div class="huge ui inverted blue icon button" id="new-task">
    <i class="add icon"></i>
  </div>
  <!--modal-->
  <div class="ui task modal">
  <i class="close icon"></i>
  <div class="header">
    New Task
  </div>
  <div class="content">
    <div class="title">
      Title:
      <input type="text" id="title-input">
    </div>
    <div class="description">
      Description:
      <input type="text" id="description-input">
    </div>
  </div>
  <div class="actions">
    <div class="ui blue inverted button" id="save-task">Create Task</div>
  </div>
  </div><!--end modal-->
</template>