<template name="dashboardColumns">
  <div class="ui stackable very relaxed grid container">
    <div class="three column computer one column mobile demo row">

      <div class="column">
        <div class="container">
          {{> todotasks}}
        </div>
      </div>
      <div class="column">
        <div class="container">
          {{> inprogresstasks}}
        </div>
      </div>
      <div class="column">
        <div class="container">
          {{> donetasks}}
       </div>
      </div>
    </div>
  </div>
</template>