<template name="logoutmodal">
  <a class="ui inverted blue button center aligned" id="log-out">
    Log out
  </a>
  <div class="ui basic modal">
    <i class="close icon"></i>
    <div class="header">
      Finished?
    </div>
    <div class="image content">
      <div class="image">
        <i class="archive icon"></i>
      </div>
      <div class="description">
        <p>Are you sure you want to log out?</p>
      </div>
    </div>
    <div class="actions">
      <div class="two fluid ui inverted buttons">
        <div class="ui red basic inverted deny button">
          <i class="remove icon"></i>
          No
        </div>
        <div class="ui green basic inverted ok button">
          <i class="checkmark icon"></i>
          Yes
        </div>
      </div>
    </div>
  </div>
</template>