<template name="dashboardHeader">
  <div class="ui stackable divided equal height stackable grid">
    <div class="three column row">
      <div class="column">
        <div class="ui center-aligned header">
          <h2 class="taskHeader">To Do</h2>
        </div>
      </div>
      <div class="column">
        <div class="ui center-aligned header">
          <h2 class="taskHeader">In Progress</h2>
        </div>
      </div>
      <div class="column">
        <div class="ui center-aligned header">
          <h2 class="taskHeader">Done</h2>
        </div>
      </div>
    </div>
  </div>
</template>